/************************************************************************************/
/* MAIN CONTENT *********************************************************************/
/************************************************************************************/

.piece-content {
    margin: 0 auto 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0 0 8px 8px;
    max-width: 1000px;
    box-shadow: 0 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.piece-content a {
    color: #0088ff;
}

.piece-content a:visited {
    color: #d40096;
}

.piece-content ul {
	/*margin: 15px 0 5px 50px;*/
	line-height: 1.2;
	/*font-size: 1em;*/
}

.piece-content ul li {
	padding-bottom: 10px;
}

.piece-image { /* Main image at top of piece content */
    width: 100%;
    max-width: 400px;
    height: auto;
    /*margin-right: 20px;*/
    margin-bottom: 10px;
    /*float: left;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Soft shadow */
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3)); /* Same as above, but by the pixel */
}

.piece-text {
    flex: 1;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

hr.plain {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 100%;
    max-width: 61.8%;
    margin: 50px auto;
}

hr.dot {
    border: none;
    border-top: 5px dotted #ccc;
    width: 100%;
    max-width: 61.8%;
    margin: 50px auto;
}

.title-splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
}

.center-heading {
    text-align: center;
    grid-row: 1;
}

.splash-desc {
    grid-row: 3;
}

.title-splash img, .splash img {
    display: block;
    width: 100%;
    height: auto;
}

.splash img {
    grid-row: 2;
}

.video-background {
    margin: 20px;
}

.video-container {
    width: 100%;
    height: auto;
}

.youtube-player {
    width: 100%; /* Let the iframe scale with the container */
    height: auto; /* Maintain aspect ratio */
    aspect-ratio: 16 / 9; /* Ensures correct aspect ratio */
    border: 0; /* Removes default border */
    display: block; /* Removes inline-block whitespace */
}

.company-splash {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
}

.company-splash .company {
    width: 100%;
    height: auto;
    padding: 0 20px;
}

/************************************************************************************/
/* BREAKPOINTS **********************************************************************/
/************************************************************************************/

@media (min-width: 550px) {
    
    .video-background {
        padding: 0 20px;
    }
}

@media (min-width: 768px) {
    
    .title-splash {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .title-splash img {
        /*width: 27vw;*/
    }

    .title-text {
        max-width: 520px;
        width: 50vw;
    }

    .splash {
        grid-template-columns: 1fr 1fr;
    }
    
    .center-heading {
        grid-column: 1 / 3;
    }
    
    .splash-desc {
        grid-row: 2;
        min-width: 430px;
    }

    .video-background, .splash img {
        width: 100%;
        height: auto;        
        margin: 0 auto;
    }

}
