/************************************************************************************/
/* OVERRIDING STYLE.CSS *************************************************************/
/************************************************************************************/

.side-menu .menu-alt-section li a[href="/"] { /* White makes text look highlighted, signifying that this is current page */
    color: white;
}

/************************************************************************************/
/* BUTTON GRID **********************************************************************/
/************************************************************************************/

.button-grid {
    display: grid;
    gap: 4vw 8vw;
    margin: 20px auto; /* Center the grid */
    padding: 0 5px; /* Smaller padding for small screens */
}

.grid-button {
    width: 100%; /* Ensure buttons take up the full width of their grid column */
	text-decoration: none;
}

.grid-button img {
    width: 100%; /* Ensure the image fills the button area */
    height: auto;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Soft shadow */
}

.grid-button .label {
    font-size: 2em;
    margin-top: 0.3em;  
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
}

a.grid-button .label {
    color: white;
    transition: text-shadow 0.3s ease;
}

a.grid-button:hover .label {
    text-shadow: 0 0 10px #fff;
}

/************************************************************************************/
/* BREAKPOINTS **********************************************************************/
/************************************************************************************/

@media (min-width: 768px) {
    
    .button-grid {
        height: 90%;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 0 20px;
    }
}

@media (min-width: 1200px) {
    
    .button-grid {
        padding: 0 20vw;
    }
}
