@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#game-specs {
    grid-row: 2;
}

#game-overview {
    grid-row: 3;
}

#level-overview, #level-outline {
    grid-row: 2;
}

.level-img img {
    grid-row: 1;
    max-width: 200px;
    margin: 0 auto;
}

.spec {
    font-style: oblique;
    text-decoration: underline;
}

.splash {
    align-items: revert;
}

#what-i-made {
    align-items: center;
    grid-template-columns: 1fr;
    display: revert;
}

.center-paragraph {
    grid-column: 1 / 3;
}

.level {
    align-items: center;
    grid-template-columns: auto auto;
}

.project-title {
    grid-column: 1 / 3;
}

.project-title img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    height: auto;
    /*filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));*/
}

.script-section {
    font-family: 'Courier Prime', 'Courier New', monospace;
}

.char-sheet-thumbs {
    display: flex;
    justify-content: space-evenly;
}

.char-sheet-thumbs a {
    margin: 10px;
}

#bp {
    align-items: center;
}

@media (min-width: 768px) {
    
    #game-overview, #game-specs {
        grid-row: 2;
    }

    #level-overview, #level-outline {
        grid-row: 1;
    }

    .level-img img {
        max-width: 400px;
    }

    .splash-desc {
        grid-row: revert;
        min-width: revert;
    }
    
    .soon {
        align-items: center;
    }
    
    #coming-soon {
        grid-row: revert;
    }
    
    #bp-thumb {
        grid-column: 1 / 3;
    }
    
    #what-i-made {
        grid-template-columns: 1fr;
        display: revert;
    }
}

@media (min-width: 1000px) { /* Main content area width */
{
    #what-i-made {
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
}