html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure that the body will always cover the full height of the viewport. */
}

body { /* Relatively short page doesn't need so many BG colors, so just use one. */
    background: #fff4e6; /*Faint sand*/
    flex: 1;
}

footer {
    margin-top: 20px;
}

h2 {
    margin-bottom: 6px;
}

.p-about {
    font-style: italic;
    margin-top: 0;
}

.container {
    display: grid;
    gap: 10px; /* spacing between items */
    grid-template-columns: 1fr;
    flex: 1;
}

.container-text {
    padding: 1px 20px;
}

.container-border {
    border: 1px solid black;
}

.container-bg {
    background: #e5dccf; /* Darker sand */
}

ul.sponsors {
  list-style-type: '★'; /* Unicode symbol */
}

ul.sponsors li {
    padding-left: 10px;
}

.trustees {
    list-style-type: none;
    padding-left: 0;       /* Removes padding */
    margin-left: 0;        /* Removes margin */
}

li {
    padding-bottom: 6px;
}

.splish-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto 20px auto;
    flex-wrap: wrap; /* Enable items to wrap to the next row if needed */
    gap: 20px;
}

.splish-3 .splish {
    margin-bottom: 0;
}
    
.splish-3 img {
    max-width: 60px;
    max-height: 60px;
    margin-bottom: 0;
}

/*****************************************************************************/
/* BREAKPOINTS ***************************************************************/
/*****************************************************************************/

@media (min-width: 768px) { /* Medium portrait (tablet) */

    /* Two columns on the first row, three on the second */
    .container {
        grid-template-columns: repeat(3, 1fr); /* Three columns in total */
        grid-auto-rows: auto;
    }

    /* Place items in specific grid positions */
    .container > :nth-child(1) { grid-column: 1 / 2; grid-row: 1; } /* Intro */
    .container > :nth-child(2) { grid-column: 2 / 4; grid-row: 1; } /* Pic */
    .container > :nth-child(3) { grid-column: 1 / 4; grid-row: 2; } /* Mission */
    .container > :nth-child(4) { grid-column: 2 / 4; grid-row: 3; } /* History */
    .container > :nth-child(5) { grid-column: 1 / 2; grid-row: 3; } /* Grants */
    .container > :nth-child(6) { grid-column: 1 / 2; grid-row: 4; } /* Org */
    .container > :nth-child(7) { grid-column: 2 / 4; grid-row: 4; } /* SM */
    .container > :nth-child(8) { grid-column: 1 / 4; grid-row: 5; } /* Pic */
    .container > :nth-child(9) { grid-column: 1 / 4; grid-row: 6; } /* Thanks */
}
