.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.splash img {
    max-width: 400px;
    width: 62%;
    box-shadow: none;
}

.body-img {
    display: grid;
    place-items: center;
}

.body-img img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.body-img-src {
    font-size: 0.9rem;
    padding: 0 20px;
}

.body-img-caption {
    padding: 0 20px;
    margin-bottom: 0;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
    justify-items: center; /* Horizontally centers contents of each cell */
    align-items: baseline;
    /*height: 100vh; /* Optional: full viewport height for vertical centering */
    margin-top: 20px;
}

.nav-btn {
    padding: 0 10px;
    text-align: center;
}

.nav-symbol {
    width: clamp(3vw, 50px, 8vw);
    height: auto;
}

/*****************************************************************************/
/* BREAKPOINTS ***************************************************************/
/*****************************************************************************/

@media (min-width: 768px) { /* Medium portrait (tablet) */

    .splash {
        flex-direction: row;
        text-align: left;
    }
    
    .splash img {
        max-width: 300px;
    }
    
    .body-img {
        margin: 0 auto;
    }
    
    .body-img img {
        width: 80%;
    }
}

@media (min-width: 1024px) { /* Medium landscape (desktop/tablet) */

    .container {
        padding: 0 15vw;
    }
}

@media (min-width: 1440px) { /* Large landscape (desktop/laptop) */

    .container {
        padding: 0 25vw;
    }
}
