html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure that the body will always cover the full height of the viewport. */
}

body { /* Relatively short page doesn't need so many BG colors, so just use one. */
    background: #fff4e6; /*Faint sand*/
    flex: 1;
}

footer {
    margin-top: 20px;
}

h2 {
    margin-bottom: 6px;
}

.p-member {
    font-style: italic;
    margin-top: 0;
}

.container {
    display: grid;
    gap: 10px; /* spacing between items */
    grid-template-columns: 1fr;
    flex: 1;
}

.container-text {
    padding: 1px 20px;
}

.container-border {
    border: 1px solid black;
}

.container-bg {
    background: #e5dccf; /* Darker sand */
}

.map iframe {
    width: 100%;
    height: 75vw;
    position: relative;
}

li {
    font-size: 1.2rem;
    padding-bottom: 6px;
}

.splash img {
    width: 100%;
    height: auto;
    position: relative;
}

/*****************************************************************************/
/* FORM **********************************************************************/
/*****************************************************************************/

#membership-form {
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.total {
    font-size: 1.5rem;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"] {
    width: 60vw; /* Makes the input element fill its parent container */
}
button {
    font-family: inherit; /* Makes the button inherit the font from the body */
    font-size: 1rem;
    background: #ebebeb;
    color: #474747;
    border: 2px solid #676767;
    padding: 10px;
    margin: 10px;
    width: 40vw;
    max-width: 300px;
}
.submit-button {
    background: #ffdbb2;
    color: #754f21;
    border: 2px solid #b3834d;
}
#thankYouMessage {
    color: green;
    margin-top: 10px;
    text-align: center;
    display: none;
}
#paymentSection {
    /*margin-top: 20px;*/
    display: none;
}
#creditCardFields {
    display: none;
    margin-top: 20px;
}

form {
    display:flex;
    flex-direction: column; /* Stack images and text vertically */
    align-items: center;
    padding: 20px 0;
}

/*****************************************************************************/
/* BREAKPOINTS ***************************************************************/
/*****************************************************************************/

@media (min-width: 768px) { /* Medium portrait (tablet) */

    /* Two columns on the first row, three on the second */
    .container {
        grid-template-columns: repeat(3, 1fr); /* Three columns in total */
        grid-template-rows: auto 1fr auto auto auto;
    }

    /* Place items in specific grid positions */
    .container > :nth-child(1) { grid-column: 1 / 2; } /* Page heading */
    .container > :nth-child(2) { grid-column: 2 / 4; grid-row: 1 / 3; } /* Pic */
    .container > :nth-child(3) { grid-column: 1 / 2; grid-row: 2; } /* Intro */
    .container > :nth-child(4) { grid-column: 1 / 2; grid-row: 3; } /* Free membership */
    .container > :nth-child(5) { grid-column: 2 / 4; grid-row: 3; } /* Paid membership */
    .container > :nth-child(6) { grid-column: 1 / 4; grid-row: 4; } /* Volunteering */
    .container > :nth-child(7) { grid-column: 1 / 4; grid-row: 5; } /* Form */
  
    h1 {
        margin-bottom: 0;
    }

    ul {
        padding-left: 1vw; /* responsive to viewport width */
    }
    
    #membership-form {
        padding: 20px 0;
        max-width: 700px;
        margin: 0 auto;
        /*width: 50vw;*/
    }
    
    input[type="text"],
    input[type="email"] {
        max-width: 300px;
        width: 50vw;
    }
}

@media (min-width: 1440px) { /* Large landscape (desktop/laptop) */

    ul {
        padding-left: revert; /* responsive to viewport width */
    }    
}