.container {
    display: grid;
    background: #fff4e6; /* Relatively short page doesn't need so many BG colors, so just use one -- faint sand */
    gap: 10px; /* spacing between items */
    grid-template-columns: 1fr;
    flex: 1;
}

.container-text {
    padding: 1px 20px;
}

.container-border {
    border: 1px solid black;
}

.container-bg {
    background: #e5dccf; /* Darker sand */
}
