.title-splash img {
    max-width:300px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.body-content .contact-image {
    display: none;
    width: 180px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    float: right;
}

/************************************************************************************/
/* CONTACT FORM *********************************************************************/
/************************************************************************************/

#contactForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px; /* Increase height for the message field */
    resize: vertical; /* Allow users to resize the textarea vertically */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

form, input, textarea, button {
    font-family: inherit;
}

#thankYouMessage {
    display: none;
}

/************************************************************************************/
/* BREAKPOINTS **********************************************************************/
/************************************************************************************/

@media (min-width: 768px) {
    
    .body-content .contact-image {
        display: block;
    }
}